In [2]:
import numpy as np
import pandas as pd
import requests

EDA emissions data by sector (line plot over time over all emissions
1. What stands out? Is there one sector that is more significant than the others?
EDA emissions data by subsector of the most significant sector
1. What is determining

In [7]:
subsectors = requests.get("https://api.climatetrace.org/emissions_by_subsector_timeseries?interval=year&since=2010&to=2020").json()
subsectors = pd.json_normalize(subsectors)

In [8]:
#drop NaN values
subsectors.dropna(0)

,country_full,country,sector,subsector,start,end,emissions
44,Aruba,ABW,agriculture,rice cultivation,2020-01-01,2021-01-01,0.0
45,Aruba,ABW,agriculture,rice cultivation,2019-01-01,2020-01-01,0.0
46,Aruba,ABW,agriculture,rice cultivation,2018-01-01,2019-01-01,0.0
47,Aruba,ABW,agriculture,rice cultivation,2017-01-01,2018-01-01,0.0
48,Aruba,ABW,agriculture,rice cultivation,2016-01-01,2017-01-01,0.0
...,...,...,...,...,...,...,...
107240,Zimbabwe,ZWE,waste,wastewater treatment and discharge,2019-01-01,2020-01-01,2102800.0
107241,Zimbabwe,ZWE,waste,wastewater treatment and discharge,2018-01-01,2019-01-01,2102800.0
107242,Zimbabwe,ZWE,waste,wastewater treatment and discharge,2017-01-01,2018-01-01,2052400.0
107243,Zimbabwe,ZWE,waste,wastewater treatment and discharge,2016-01-01,2017-01-01,2010400.0
107244,Zimbabwe,ZWE,waste,wastewater treatment and discharge,2015-01-01,2016-01-01,1962800.0