# Notebook 2: Comparing Urban &amp; Rural Environmental Data

This week we are going to continue exploring the White House Environmental Justice dataset from last week.

Our main objective for this notebook is to use table manipulation and data visualization to compare environmental data in urban and rural regions.

The first half of this notebook will be a introduction on how to use some important coding tools, and the latter half will be a guided project where you will be actively using those tools to analyze some data!

In [1]:
#Just run this cell!

#Importing packages
from datascience import *
import numpy as np

## Manipulating Tables

In this introductory section, we will be using a dataset called `Food_Production.csv` that shows the greenhouse gas emissions (in kg CO2) involved in different stages of production for different foods.

Run the cell below to load the dataset into a table.

In [2]:
#Just run this cell!
food_production = Table.read_table('Food_Production.csv')

**Viewing a Table**

Notice how the cell above does not display a table. Instead, it is just there to assign the variable `food_production` to the new table.

To use a table manipulation method in python, the general approach to calling the method (i.e using the method) is: `tbl.method(parameters)`.

If we want to preview the first few rows of the table, we need to use the method `.show()`. It takes in one parameter, which is the number of rows we want to view.

Below is an example of how we would use `.show()` to view 5 rows in the table `food_production`.

In [3]:
food_production.show(5)

**Taking columns or rows from a table**

Now that we have some idea of the table we are working with, let's try manipulating this table by extracting columns and rows to create a new table.

First, let's try created a new table with just the column `Food product` and `Total_emissions`. 
To create a new table comprised of certain columns, we need to use the method `.select()`. This method takes in column labels (as strings) or column indices (as integers) that correspond to the columns we want to extract. 

Run the cells below to see both ways of using `.select()`.

In [4]:
#Using .select() with column labels
food_production.select('Food product', 'Total_emissions')

Food product        | Total_emissions
Wheat & Rye (Bread) | 1.4
Maize (Meal)        | 1.1
Barley (Beer)       | 1.1
Oatmeal             | 1.6
Rice                | 4
Potatoes            | 0.3
Cassava             | 0.9
Cane Sugar          | 2.6
Beet Sugar          | 1.4
Other Pulses        | 1.6
... (33 rows omitted)

In [5]:
#Using .select() with column indices
#Notice how the first column has index number 0, not 1! The 2nd column has index number 1, and so on.
food_production.select(0, 8)

Food product        | Total_emissions
Wheat & Rye (Bread) | 1.4
Maize (Meal)        | 1.1
Barley (Beer)       | 1.1
Oatmeal             | 1.6
Rice                | 4
Potatoes            | 0.3
Cassava             | 0.9
Cane Sugar          | 2.6
Beet Sugar          | 1.4
Other Pulses        | 1.6
... (33 rows omitted)

To create a new table comprised of certain rows, we need to use the method `.take()`. This method take in either a single integer or an array of integers that correspond to the index position/positions of the rows you want to extract.

Run the cells below to see how `.take()` is used.

In [6]:
#Taking the first row of the table
food_production.take(0)

Food product        | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Wheat & Rye (Bread) | 0.1             | 0           | 0.8  | 0.2        | 0.1       | 0.1       | 0.1    | 1.4

In [7]:
#Taking rows at index 1, 3, 5, and 7
#Notice how we are inputting an array into the method this time
row_indices = make_array(1, 3, 5, 7)
food_production.take(row_indices)

Food product | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Maize (Meal) | 0.3             | 0           | 0.5  | 0.1        | 0.1       | 0.1       | 0      | 1.1
Oatmeal      | 0               | 0           | 1.4  | 0          | 0.1       | 0.1       | 0      | 1.6
Potatoes     | 0               | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.3
Cane Sugar   | 1.2             | 0           | 0.5  | 0          | 0.8       | 0.1       | 0      | 2.6

**Removing columns**

The method `.drop()` can be used to create a copy of a table with removed columns. It can take either column labels or indices.

Let's use it to remove the `Processing` and `Packaging` column.

In [8]:
#Remove Processing column
food_production.drop('Processing', 'Packaging')

Food product        | Land use change | Animal Feed | Farm | Transport | Retail | Total_emissions
Wheat & Rye (Bread) | 0.1             | 0           | 0.8  | 0.1       | 0.1    | 1.4
Maize (Meal)        | 0.3             | 0           | 0.5  | 0.1       | 0      | 1.1
Barley (Beer)       | 0               | 0           | 0.2  | 0         | 0.3    | 1.1
Oatmeal             | 0               | 0           | 1.4  | 0.1       | 0      | 1.6
Rice                | 0               | 0           | 3.6  | 0.1       | 0.1    | 4
Potatoes            | 0               | 0           | 0.2  | 0.1       | 0      | 0.3
Cassava             | 0.6             | 0           | 0.2  | 0.1       | 0      | 0.9
Cane Sugar          | 1.2             | 0           | 0.5  | 0.8       | 0      | 2.6
Beet Sugar          | 0               | 0           | 0.5  | 0.6       | 0      | 1.4
Other Pulses        | 0               | 0           | 1.1  | 0.1       | 0      | 1.6
... (33 rows omitted)

**Extracting a column as an array**

Another very useful method is `.column()`, which takes a column label or column index and outputs that column as an array.

Note: this is not to be confused with `.select()`, which outputs a table instead of an array.

In the example below, we are assigning the variable `transport` to an array of all the values in the column `Transport` (CO2 greenhouse gas emissions released in the transport of 1 kg of that food product). 

Now that we have the values as an array, we can apply array methods onto it. In this case, we use `np.mean()` to find the mean transport emissions across the different products, and then we separately use `.item()` to extract the 5th item of the array.

In [9]:
#Extracting the column as an array
transport = food_production.column('Transport')
transport

array([0.1, 0.1, 0. , 0.1, 0.1, 0.1, 0.1, 0.8, 0.6, 0.1, 0.1, 0.1, 0.1,
       0.1, 0.2, 0.3, 0.2, 0.2, 0.2, 0.5, 0.2, 0.1, 0.1, 0.1, 0.2, 0.1,
       0.3, 0.1, 0.2, 0.1, 0.2, 0.1, 0.1, 0.3, 0.4, 0.5, 0.3, 0.3, 0.1,
       0.1, 0.1, 0.1, 0.2])

In [10]:
#Applying np.mean() onto the array
np.mean(transport)

0.1953488372093023

In [11]:
#Extracting the fifth item from the array
transport.item(4)

0.1

**Sorting tables**

If we want to sort a table, we need to use the method `.sort()`. This lets us sort a table by a given column, which is inputted as either a column label or column index. The method also takes in an optional parameter, which is used to indicate whether or not it should be sorted in descending order (by default, this will be set to `True`).

If the column you want to sort by contains numerical values, the table will be sorted in ascending or descending order of those values. If the column contains strings, the table will be sorted in alphabetical or reverse alphabetical order. 

In the examples below, we sort the table by `Total_emissions` in descending order, and then we sort the table in alphabetical order by `Food_product`.

In [12]:
#Sorting by total emissions in descending order
food_production.sort('Total_emissions', descending = True)

Food product      | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Beef (beef herd)  | 16.3            | 1.9         | 39.4 | 1.3        | 0.3       | 0.2       | 0.2    | 59.6
Lamb & Mutton     | 0.5             | 2.4         | 19.5 | 1.1        | 0.5       | 0.3       | 0.2    | 24.5
Cheese            | 4.5             | 2.3         | 13.1 | 0.7        | 0.1       | 0.2       | 0.3    | 21.2
Beef (dairy herd) | 0.9             | 2.5         | 15.7 | 1.1        | 0.4       | 0.3       | 0.2    | 21.1
Dark Chocolate    | 14.3            | 0           | 3.7  | 0.2        | 0.1       | 0.4       | 0      | 18.7
Coffee            | 3.7             | 0           | 10.4 | 0.6        | 0.1       | 1.6       | 0.1    | 16.5
Shrimps (farmed)  | 0.2             | 2.5         | 8.4  | 0          | 0.2       | 0.3       | 0.2    | 11.8
Palm Oil          | 3.1             | 0           | 2.1  | 1.3        | 0.2       | 0.9       | 0      | 7.6
Pig Meat          | 1.5             | 2.9         | 1.7  | 0.3        | 0.3       | 0.3       | 0.2    | 7.2
Poultry Meat      | 2.5             | 1.8         | 0.7  | 0.4        | 0.3       | 0.2       | 0.2    | 6.1
... (33 rows omitted)

In [13]:
#Sorting alphabetically by Food product
#Note that for alphabetical order, descending = False and for reverse alphabetical order, descending = True
food_production.sort('Food product', descending = False)

Food product      | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Apples            | 0               | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.3
Bananas           | 0               | 0           | 0.3  | 0.1        | 0.3       | 0.1       | 0      | 0.8
Barley (Beer)     | 0               | 0           | 0.2  | 0.1        | 0         | 0.5       | 0.3    | 1.1
Beef (beef herd)  | 16.3            | 1.9         | 39.4 | 1.3        | 0.3       | 0.2       | 0.2    | 59.6
Beef (dairy herd) | 0.9             | 2.5         | 15.7 | 1.1        | 0.4       | 0.3       | 0.2    | 21.1
Beet Sugar        | 0               | 0           | 0.5  | 0.2        | 0.6       | 0.1       | 0      | 1.4
Berries & Grapes  | 0               | 0           | 0.7  | 0          | 0.2       | 0.2       | 0      | 1.1
Brassicas         | 0               | 0           | 0.3  | 0          | 0.1       | 0         | 0      | 0.4
Cane Sugar        | 1.2             | 0           | 0.5  | 0          | 0.8       | 0.1       | 0      | 2.6
Cassava           | 0.6             | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.9
... (33 rows omitted)

**Filtering tables**

Extracting specific rows in a table based on their value is also very useful in table manipulation. This is done by using the `.where()` method. It takes in two parameters, a column name or index and a predicate. A predicate is some criterion that needs to be met in order for the row to be extracted.

In the example below, we use `.where()` to create a new table containing only rows where the `Animal Feed` emissions are equal to 0, and another new table that contains only `Rice` as a food product. The predicate that we use in this case is `are.equal_to()`.

In [14]:
#Table with only foods where Animal Feed emissions are 0
food_production.where('Animal Feed', are.equal_to(0))

Food product        | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Wheat & Rye (Bread) | 0.1             | 0           | 0.8  | 0.2        | 0.1       | 0.1       | 0.1    | 1.4
Maize (Meal)        | 0.3             | 0           | 0.5  | 0.1        | 0.1       | 0.1       | 0      | 1.1
Barley (Beer)       | 0               | 0           | 0.2  | 0.1        | 0         | 0.5       | 0.3    | 1.1
Oatmeal             | 0               | 0           | 1.4  | 0          | 0.1       | 0.1       | 0      | 1.6
Rice                | 0               | 0           | 3.6  | 0.1        | 0.1       | 0.1       | 0.1    | 4
Potatoes            | 0               | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.3
Cassava             | 0.6             | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.9
Cane Sugar          | 1.2             | 0           | 0.5  | 0          | 0.8       | 0.1       | 0      | 2.6
Beet Sugar          | 0               | 0           | 0.5  | 0.2        | 0.6       | 0.1       | 0      | 1.4
Other Pulses        | 0               | 0           | 1.1  | 0          | 0.1       | 0.4       | 0      | 1.6
... (23 rows omitted)

In [15]:
#Table that contains only Rice
food_production.where('Food product', are.equal_to('Rice'))

Food product | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Rice         | 0               | 0           | 3.6  | 0.1        | 0.1       | 0.1       | 0.1    | 4

What if we want to use some other criterion? There are many other predicates we can choose from.

Here is a list of predicate examples.
|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

Let's try using one of them to create a table of food products with retail emissions above 0.2.

In [16]:
#Table of food products with retail emissions above 0.2
food_production.where('Retail', are.above(0.2))

Food product  | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions
Barley (Beer) | 0               | 0           | 0.2  | 0.1        | 0         | 0.5       | 0.3    | 1.1
Soymilk       | 0.2             | 0           | 0.1  | 0.2        | 0.1       | 0.1       | 0.3    | 1
Tofu          | 1               | 0           | 0.5  | 0.8        | 0.2       | 0.2       | 0.3    | 3
Milk          | 0.5             | 0.2         | 1.5  | 0.1        | 0.1       | 0.1       | 0.3    | 2.8
Cheese        | 4.5             | 2.3         | 13.1 | 0.7        | 0.1       | 0.2       | 0.3    | 21.2

**Joining two tables**

`.join()` is a method that combines two table by a shared column. This column should contain values that are present in both tables.

The method is structures as follows: `tblA.join(column_label_A, tblB, column_label_B)`, which generates a table that combines tblA and tblB, containing rows for all values of a specified column that appears in both columns. 

_Note: In the case that the column labels for this shared column are different, the unique labels can be specified. If not, the default value for `column_label_B` is `column_label_A`._

In the example below, we combine the tables our `food_production` table with `food_land_use` by the column `Food product`.

In [17]:
#Load and view the new table `food_land_use`.
food_land_use = Table.read_table('food_land_use.csv')
food_land_use.show(5)

In [18]:
#Combine food_production and food_land_use by the shared 'Food product' column
combined_tbl = food_production.join('Food product', food_land_use)
combined_tbl

Food product      | Land use change | Animal Feed | Farm | Processing | Transport | Packaging | Retail | Total_emissions | Land use per kilogram (m² per kilogram)
Apples            | 0               | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.3             | 0.63
Bananas           | 0               | 0           | 0.3  | 0.1        | 0.3       | 0.1       | 0      | 0.8             | 1.93
Barley (Beer)     | 0               | 0           | 0.2  | 0.1        | 0         | 0.5       | 0.3    | 1.1             | nan
Beef (beef herd)  | 16.3            | 1.9         | 39.4 | 1.3        | 0.3       | 0.2       | 0.2    | 59.6            | 326.21
Beef (dairy herd) | 0.9             | 2.5         | 15.7 | 1.1        | 0.4       | 0.3       | 0.2    | 21.1            | 43.24
Beet Sugar        | 0               | 0           | 0.5  | 0.2        | 0.6       | 0.1       | 0      | 1.4             | 1.83
Berries & Grapes  | 0               | 0           | 0.7  | 0          | 0.2       | 0.2       | 0      | 1.1             | 2.41
Brassicas         | 0               | 0           | 0.3  | 0          | 0.1       | 0         | 0      | 0.4             | 0.55
Cane Sugar        | 1.2             | 0           | 0.5  | 0          | 0.8       | 0.1       | 0      | 2.6             | 2.04
Cassava           | 0.6             | 0           | 0.2  | 0          | 0.1       | 0         | 0      | 0.9             | 1.81
... (33 rows omitted)

Those are all of the table manipulation methods that you will need for this notebook! However, there are many more things you can do with tables. The complete documentation for table manipulation in the `datascience` package can be found [here](http://data8.org/datascience/tables.html).

## Data Visualization

In data science, it is also very useful to visualize our data. In this notebook, we will be introducing scatter plots and bar charts.

**Scatter plots**

Scatter plots are used to observe some relationship between two continuous variables. We can generate scatter plots by using `.scatter()` on a table. It takes in two parameters, the column labels that correspond to the x-axis and y-axis respectively.

Let's use it to visualize the relationship between land use and total emissions of food products.

In [19]:
combined_tbl.scatter('Land use per kilogram (m² per kilogram)', 'Total_emissions')

**Bar charts**

Bar charts are used to compare a numerical property of classified groups. The method `.bar()` or `.barh()` (horizontal bar chart) takes in two parameters: the categorical column label and then the numerical column label.

In the example below, we use it to see the total emissions (numerical property) for each food product (category).

In [20]:
#Standard bar chart
food_production.bar('Food product', 'Total_emissions')

/shared-libs/python3.7/py/lib/python3.7/site-packages/datascience/tables.py:3006: UserWarning: FixedFormatter should only be used together with FixedLocator
  axis.set_xticklabels(tick_labels, stretch='ultra-condensed')

In [21]:
#Horizontal bar chart
food_production.barh('Food product', 'Total_emissions')

That's the end of this introduction! The rest of this notebook will be an interactive project for you to practice some of the skills you've learnt!

## Part 1: California Counties

Now it's your turn! In these next few parts, you will be applying tools from the previous two sections to analyze data from the WHEJ dataset.

First, run the cell below to take a look at our `california` table. Each row of the table corresponds to a county in California and some demographic and environmental data.

In [22]:
#Just run this cell
california = Table.read_table("/work/Notebook 2/California_WHEJ.csv")
california.show(3)

**Question 1.** Create an array called `labels` that contains all the column labels of `california` and a variable called `num_columns` that is an integer of the number of columns.

In [23]:
"""
labels = ...
num_columns = ...
num_columns
"""
labels = california.column_labels
num_columns = len(labels)
num_columns

/shared-libs/python3.7/py/lib/python3.7/site-packages/datascience/tables.py:310: FutureWarning: column_labels is deprecated; use labels
  warnings.warn("column_labels is deprecated; use labels", FutureWarning)

92

**Question 2.** As we can see from the value of `num_columns`, there are a lot of columns in the table but we are only interested in a few of them. Create a new table `cali_environment` that contains only the columns with the labels given in `desired_columns`.

In [24]:
desired_columns = make_array("County name", "County 2012 pop", "2013 code", "Median household income (% of state median household income)", "Poverty (Less than 200% of federal poverty line)", "Air toxics cancer risk", "Respiratory hazard index", "Diesel particulate matter", "Traffic proximity and volume")
"""
cali_environment = ...
cali_environment.show(3)
"""
cali_environment = california.select(desired_columns)
cali_environment.show(3)

**Question 3.** Find the county with the highest 2012 population and assign the <u>string</u> to the variable `highest_pop`.

*Hint: You may need to use the method `.sort()`.*

In [25]:
"""
sorted_population = ...
highest_pop = ...
highest_pop
"""
sorted_population = cali_environment.sort('County 2012 pop', descending = True)
highest_pop = sorted_population.column('County name').item(0)
highest_pop

'Los Angeles County'

**Question 4.** Let's do the same thing to find the county with the lowest 2012 population. Store the name into the variable `lowest_pop`.

In [26]:
"""
resorted_population = ...
lowest_pop = ...
lowest_pop
"""
resorted_population = cali_environment.sort('County 2012 pop', descending = False)
lowest_pop = resorted_population.column('County name').item(0)
lowest_pop

'Alpine County'

Now let's try to compare the environmental data between these two counties.

**Question 5.** Create a new table called `two_counties` that contains two rows from `cali_environment` corresponding to the counties you found in Question 3 and 4.

In [27]:
#Do not change the line below.
#It returns 'True' if the input value is equal to the names of the counties from Q3 and 4.
#You do not need to understand how this line works in this course.

condition = lambda x: True if (x == highest_pop or x == lowest_pop) else False
"""
two_counties = cali_environment.where(..., condition)
two_counties
"""
two_counties = cali_environment.where('County name', condition)

#Only need line below because repeated county names, delete after cleaning
two_counties = two_counties.sort('County 2012 pop').take(make_array(0, 6416))

two_counties

County name        | County 2012 pop | 2013 code | Median household income (% of state median household income) | Poverty (Less than 200% of federal poverty line) | Air toxics cancer risk | Respiratory hazard index | Diesel particulate matter | Traffic proximity and volume
Alpine County      | 1129            | 6         | 0.923772                                                     | 0.232092                                         | 16.4923                | 0.233401                 | 0.0188699                 | 4.66669
Los Angeles County | 9962789         | 1         | -8861.12                                                     | 0                                                | 33.8991                | 0.48044                  | 0.243724                  | 366.728

**Question 6.** Using the `two_counties` table, create a bar chart that compares the respiratory hazard index between the two counties.

In [28]:
"""
two_counties_respiratory = ...
two_counties_respiratory.barh(..., ...)
"""

two_counties_respiratory = two_counties.select('County name', 'Respiratory hazard index')
two_counties_respiratory.barh('County name','Respiratory hazard index')

**Question 7.** What could be a possible explanation for this difference?

*Type your answer here.*

## Part 2: Urban and Rural Counties

Now that we have compared an environmental condition between two counties, let's try comparing an environmental condition between urban and rural counties.

**Question 1.** Create a histogram that shows the distribution of diesel particulate matter across counties in California.

In [29]:
"""
diesel_histogram = ...
diesel_histogram
"""
diesel_histogram = cali_environment.hist('Diesel particulate matter')
diesel_histogram

Next we need to classify counties as either urban or rural. The table below shows the corresponding classifications for each value in the column `2013 code` of `cali_environment`.

In [30]:
#Just run this cell.
code_to_classification = Table().with_columns({'2013 code': [1,2,3,4,5,6], 'Classification': ["Urban", "Suburban", "Suburban", "Rural", "Rural", "Rural"]})
code_to_classification

2013 code | Classification
1         | Urban
2         | Suburban
3         | Suburban
4         | Rural
5         | Rural
6         | Rural

**Question 2.** Create a new table called `classified` that contains a new column labelled `Classification` that contains corresponding urban/rural classification from the `2013 code` column. Make sure to remove the `2013 code` column from the new `classified` table.

*Hint: You may want to use the `.join()` method.*

In [31]:
"""
classified = cali_environment.join('2013 code', code_to_classification).drop('2013 code')
classified.show(3)
"""
classified = cali_environment.join('2013 code', code_to_classification).drop('2013 code')
classified.show(3)

#Delete after cleaning
classified = classified.group('County name', lambda x: x.item(0))

**Question 3.** Create a bar chart that compares the diesel particulate matter in urban/rural regions.

In [32]:
"""
diesel_bar = ...
diesel_bar
"""

diesel_bar = classified.barh("Classification", "Diesel particulate matter")
diesel_bar

The widget below generates a bar chart that compares different environmental factors in urban/rural regions.

In [33]:
#only for Deepnote
!pip install ipywidgets

Collecting ipywidgets
  Downloading ipywidgets-7.6.5-py2.py3-none-any.whl (121 kB)
     |████████████████████████████████| 121 kB 18.5 MB/s
Requirement already satisfied: nbformat>=4.2.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipywidgets) (5.1.3)
Requirement already satisfied: ipython-genutils~=0.2.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipywidgets) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipywidgets) (4.3.3)
Requirement already satisfied: ipython>=4.0.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipywidgets) (7.28.0)
Collecting widgetsnbextension~=3.5.0
  Downloading widgetsnbextension-3.5.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 24.2 MB/s
Requirement already satisfied: ipykernel>=4.5.1 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipywidgets) (5.5.5)
Collecting jupyterlab-widgets>=1.0.0
  Downloading jupyterlab_widgets-1.0.2-py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 24.9 MB/s
Requirement already satisfied: jupyter-client in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1)
Requirement already satisfied: jedi>=0.16 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (0.17.2)
Requirement already satisfied: matplotlib-inline in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in /root/venv/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (58.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (3.0.20)
Requirement already satisfied: pygments in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (2.10.0)
Requirement already satisfied: pickleshare in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (0.7.5)
Requirement already satisfied: decorator in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (5.1.0)
Requirement already satisfied: backcall in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from ipython>=4.0.0->ipywidgets) (4.8.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets) (0.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets) (3.2.0)
Requirement already satisfied: jupyter-core in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets) (4.7.1)
Requirement already satisfied: attrs>=17.4.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (21.2.0)
Requirement already satisfied: importlib-metadata in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (4.8.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (0.18.0)
Requirement already satisfied: six>=1.11.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (1.16.0)
Requirement already satisfied: ptyprocess>=0.5 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets) (6.3.0)
Requirement already satisfied: argon2-cffi in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (21.1.0)
Requirement already satisfied: prometheus-client in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.11.0)
Requirement already satisfied: jinja2 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.0.2)
Requirement already satisfied: terminado>=0.8.3 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.12.1)
Requirement already satisfied: Send2Trash>=1.5.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.8.0)
Requirement already satisfied: pyzmq>=17 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (22.3.0)
Requirement already satisfied: nbconvert==6.0.7 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (6.0.7)
Requirement already satisfied: python-dateutil>=2.1 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.0)
Requirement already satisfied: bleach in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (4.1.0)
Requirement already satisfied: jupyterlab-pygments in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.4)
Requirement already satisfied: entrypoints>=0.2.2 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: defusedxml in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.7.1)
Requirement already satisfied: testpath in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: MarkupSafe>=2.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.0.1)
Requirement already satisfied: nest-asyncio in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.1)
Requirement already satisfied: cffi>=1.0.0 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.14.6)
Requirement already satisfied: pycparser in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.20)
Requirement already satisfied: packaging in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from bleach->nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (21.0)
Requirement already satisfied: webencodings in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from bleach->nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (3.6.0)
Requirement already satisfied: pyparsing>=2.0.2 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from packaging->bleach->nbconvert==6.0.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.4.7)
Installing collected packages: widgetsnbextension, jupyterlab-widgets, ipywidgets
Successfully installed ipywidgets-7.6.5 jupyterlab-widgets-1.0.2 widgetsnbextension-3.5.2
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/root/venv/bin/python -m pip install --upgrade pip' command.

In [34]:
#Just run this cell
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

def select_bar(feature):
    return classified.barh("Classification", feature)

interact(select_bar, feature = ["Air toxics cancer risk", "Respiratory hazard index", "Diesel particulate matter", "Traffic proximity and volume"])

**Question 4.** Based on the results from the widget above, which factor changes the most between urban/rural areas? Assign your answer as a string to the variable `q4`.

In [35]:
"""
q4 = '...'
"""

#need to determine answer later

"\nq4 = '...'\n"

## Part 3: A Primer on Classifiers

In this next part, we are going to start thinking about how we could predict whether a region is considered urban or rural based on environmental features.

We are going to simplify our classifications into just 'urban' and 'rural'.

In [36]:
#Just run this cell.
new_codes = Table().with_columns({'2013 code': [1,2,3,4,5,6], 'Classification': ["Urban", "Urban", "Urban", "Rural", "Rural", "Rural"]})
new_classification = cali_environment.join('2013 code', code_to_classification).drop('2013 code')
new_classification.show(3)

#delete later
new_classification = new_classification.group('County name', lambda x: x.item(0))

**Question 1.** Build a scatter plot with 'Air toxics cancer risk' on the x-axis and 'Respiratory hazard index' on the y-axis.

In [37]:
"""
new_classification.scatter(x = ..., y = ..., group = 'Classification')
"""
new_classification.scatter("Air toxics cancer risk", "Respiratory hazard index", group = 'Classification')

The () dots correspond with urban areas, and the () dots correspond with rural areas. We can see that there are clear groupings of the different classifications.

**Question 2.** Based on the scatter plot in Question 1, which of the following coordinates would you expect to be classified as urban? 

1. (x,y)
2. (x,y)
3. (x,y)

Store your answer as an array of integers corresponding to your selection.

In [38]:
"""
q3_2 = make_array(...)
"""

'\nq3_2 = make_array(...)\n'

A k-nearest neighbor classifier predicts the classification of a point based on the classification it its nearest points. These predictions can be tested for accuracy.

**Question 3.** Comparing the scatter plots below, which combination of variables do you think would build a more accurate classifier?

Assign the integer value of your answer in the given variable.

(Upload images)

In [39]:
"""
q3_3 = ...
"""

'\nq3_3 = ...\n'

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=2717432d-cb20-4851-9142-2356f9ef0a5b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>